@{
    ViewData["Title"] = "Registrate";
}

<script src="~/js/password.js"></script>

<div class="centrado">
    <form method="post" action='@Url.Action("RegistrarUsuario")'>
        <div class="mb-3">
            <label for="userInput" class="form-label">Usuario</label>
            <input type="text" class="form-control" id="userInput" name="username">
        </div>
        <div class="mb-3">
            <label for="passwordInput" class="form-label">Contraseña</label>
            <input type="password" class="form-control" id="passwordInput" aria-describedby="helpPassword1 helpPassword2 helpPassword3 helpPassword4" name="password">
            <div id="helpPassword1" class="form-text">Debe contener al menos 8 caracteres.</div>
            <div id="helpPassword2" class="form-text">Debe contener al menos una letra mayúscula.</div>
            <div id="helpPassword3" class="form-text">Debe contener al menos un carácter especial.</div>
            <div id="helpPassword4" class="form-text">Las contraseñas deben coincidir.</div>
        </div>
        <div class="mb-3">
            <label for="passwordInput2" class="form-label">Verifica tu Contraseña</label>
            <input type="password" class="form-control" id="passwordInput2">
        </div>
        <div class="mb-3">
            <label for="nombreInput" class="form-label">Nombre</label>
            <input type="text" class="form-control" id="nombreInput" name="nombre">
        </div>
        <div class="mb-3">
            <label for="apellidoInput" class="form-label">Apellido</label>
            <input type="text" class="form-control" id="apellidoInput" name="apellido">
        </div>
        <div class="mb-3">
            <label for="emailInput" class="form-label">Email</label>
            <input type="email" class="form-control" id="emailInput" name="email">
        </div>
        <div class="mb-3">
            <label for="seguridadInput" class="form-label">Nombre de tu mascota</label>
            <input type="text" class="form-control" id="seguridadInput" aria-describedby="helpSeguridad" name="preguntaSeguridad">
        </div>
        <button type="submit" class="btn btn-primary" id="botonEnviar">Registrarse</button>
    </form>
</div>